// Font stacks
@mixin setting-stack-standard() {
	font-family: "Proxima Nova", 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.2em;
}

.app__page {
	text-align: center;
}

h1,
%h1 {
	@include setting-stack-standard();
	font-size: $text-size-h1;
	line-height: 1.15em;
	color: $clr-text-primary-1;
	text-shadow: 0 0.5em 2.3em $clr-layout-primary-1, 0 0 0.8em $clr-layout-primary-1, 0 0 0.2em $clr-layout-primary-1;
	@media all and (min-width: $bp-lg) {
		font-size: $text-size-h1 * 1.3;
	}
}
h2,
%h2 {
	@include setting-stack-standard();
	font-size: $text-size-h2;
	color: $clr-text-primary-3;
}
h3,
%h3 {
	@include setting-stack-standard();
	font-size: $text-size-h3;
	color: $clr-text-primary-1;
	line-height: 1.1em;
}
h4,
%h4 {
	@include setting-stack-standard();
	font-size: $text-size-h4;
	font-weight: 300;
	color: $clr-text-primary-4;
	line-height: 1.25em;
}
p,
%p {
	@include setting-stack-standard();
	margin: 0 0 1em;
	color: $clr-text-primary-1;
	font-size: $text-size-p;
}
a,
%a {
	color: $clr-link-primary-1;
	text-decoration: underline;
}
%a-alternate {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
	text-decoration: none;
}
.align-center,
%align-center {
	text-align: center;
}